# Dependențe
/node_modules
/nutri-app/node_modules
/nutrisnap-api/node_modules

# Fișiere de build
/nutri-app/dist
/nutrisnap-api/dist
/nutrisnap-api/.env
/nutrisnap-api/.env.production


# Fișiere temporare și cache
.DS_Store
*.log