.home__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home__input-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home__header {
  text-align: center;
  margin-bottom: 20px;
}